*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #1f2e3d;
  width: 100vw;
  height: 150vh;
}

.section-editor {
  max-height: 50vh;
  max-width: 75vw;
  min-height: 50vh;
  min-width: 75vw;
  margin: 5vh auto;
}

.editor {
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  scroll-behavior: auto;
  overflow: auto;
}
