.quote-box-old {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.quote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #f00;
}

.quote-content {
  background-color: #222;
  min-height: 50vh;
  min-width: 50vw;
  overflow: scroll;
  margin: 3px;
  padding: 2px;
}

.quote-author {
  background-color: #444;
  display: none;
}

.new-quote-button {
  background-color: #24f;
}

.tweet-quote {
  height: 2rem;
  width: 2rem;
}
