body {
  background-color: #1f2e3d;
  font-family: Roboto, sans-serif !important;
}

.spinner-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.quote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.quote-content {
  margin: 0.1875rem;
  max-height: 50vh;
  max-width: 100%;
  min-height: auto;
  min-width: 100%;
  overflow: scroll;
  overflow-y: auto;
  padding: 0.125rem;
  color: #a00 !important;
  background-color: #feff !important;
}

.quote-author {
  display: none;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tweet-quote {
  margin: auto;
  flex-grow: 1;
}

img {
  max-width: 100%;
  max-height: 50%;
  z-index: 1;
}
